# In Python the feature selection method is called the Recursive Feature Elimination

In [ ]:
import pandas as pd
from sklearn.feature_selection import RFE,RFECV
from sklearn.linear_model import LinearRegression

In [36]:
data=pd.read_csv("C:\\R DATA SETS\\Boston.csv")

In [37]:
data.head()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [38]:
df_x=data.iloc[:,:12]
df_y=data.iloc[:,12]

# Creating a Recursive Feature Elimination object

In [39]:
rfe=RFE(estimator=LinearRegression(),n_features_to_select=7)

# Training the RFE object with independent and response data Â¶

In [40]:
elm_fit=rfe.fit(df_x,df_y)

# Number of features selected

In [58]:
elm_fit.n_features_

7

# Which columns have been selected

In [41]:
elm_fit.support_

array([ True, False, False,  True,  True, False,  True,  True, False,
        True, False,  True])

In [42]:
df_x.columns

Index(['crim', 'zn', 'indus', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat'],
      dtype='object')

In [43]:
selected=df_x.columns[elm_fit.support_]
selected

Index(['crim', 'nox', 'rm', 'dis', 'rad', 'ptratio', 'lstat'], dtype='object')

In [44]:
df_x.head()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [45]:
df_x1=df_x[selected]
df_x1.head()

      crim    nox     rm     dis  rad  ptratio  lstat
0  0.00632  0.538  6.575  4.0900    1     15.3   4.98
1  0.02731  0.469  6.421  4.9671    2     17.8   9.14
2  0.02729  0.469  7.185  4.9671    2     17.8   4.03
3  0.03237  0.458  6.998  6.0622    3     18.7   2.94
4  0.06905  0.458  7.147  6.0622    3     18.7   5.33

# Selection ranking is given as

In [46]:
elm_fit.ranking_

array([1, 3, 2, 1, 1, 6, 1, 1, 4, 1, 5, 1])

In [47]:
x=df_x1.values
y=df_y.values

In [48]:
x

array([[6.3200e-03, 5.3800e-01, 6.5750e+00, ..., 1.0000e+00, 1.5300e+01,
        4.9800e+00],
       [2.7310e-02, 4.6900e-01, 6.4210e+00, ..., 2.0000e+00, 1.7800e+01,
        9.1400e+00],
       [2.7290e-02, 4.6900e-01, 7.1850e+00, ..., 2.0000e+00, 1.7800e+01,
        4.0300e+00],
       ...,
       [6.0760e-02, 5.7300e-01, 6.9760e+00, ..., 1.0000e+00, 2.1000e+01,
        5.6400e+00],
       [1.0959e-01, 5.7300e-01, 6.7940e+00, ..., 1.0000e+00, 2.1000e+01,
        6.4800e+00],
       [4.7410e-02, 5.7300e-01, 6.0300e+00, ..., 1.0000e+00, 2.1000e+01,
        7.8800e+00]])

# This x matrix can be obtained using following way as well

In [50]:
x1=rfe.fit_transform(df_x,df_y)
x1

array([[6.3200e-03, 5.3800e-01, 6.5750e+00, ..., 1.0000e+00, 1.5300e+01,
        4.9800e+00],
       [2.7310e-02, 4.6900e-01, 6.4210e+00, ..., 2.0000e+00, 1.7800e+01,
        9.1400e+00],
       [2.7290e-02, 4.6900e-01, 7.1850e+00, ..., 2.0000e+00, 1.7800e+01,
        4.0300e+00],
       ...,
       [6.0760e-02, 5.7300e-01, 6.9760e+00, ..., 1.0000e+00, 2.1000e+01,
        5.6400e+00],
       [1.0959e-01, 5.7300e-01, 6.7940e+00, ..., 1.0000e+00, 2.1000e+01,
        6.4800e+00],
       [4.7410e-02, 5.7300e-01, 6.0300e+00, ..., 1.0000e+00, 2.1000e+01,
        7.8800e+00]])

# RFE Cross Validation (if the number of features is not decided)

In [59]:
#we need to idintify automaticaly which varibles most important so thats why we use RFECV.
rfecv=RFECV(estimator=LinearRegression(),min_features_to_select=1,cv=10)

In [60]:
rfecv.fit(df_x,df_y)

RFECV(cv=10, estimator=LinearRegression())

In [61]:
rfecv.n_features_

5

In [62]:
df_x.columns[rfecv.support_]

Index(['nox', 'rm', 'dis', 'ptratio', 'lstat'], dtype='object')

In [63]:
x2=rfecv.fit_transform(df_x,df_y)
x2

array([[ 0.538 ,  6.575 ,  4.09  , 15.3   ,  4.98  ],
       [ 0.469 ,  6.421 ,  4.9671, 17.8   ,  9.14  ],
       [ 0.469 ,  7.185 ,  4.9671, 17.8   ,  4.03  ],
       ...,
       [ 0.573 ,  6.976 ,  2.1675, 21.    ,  5.64  ],
       [ 0.573 ,  6.794 ,  2.3889, 21.    ,  6.48  ],
       [ 0.573 ,  6.03  ,  2.505 , 21.    ,  7.88  ]])